---
import Card from "../calendario/Card.astro";
import Title from "../Title.astro";
---

<section class="mt-[120px] relative z-10">
    <Title 
        title="Noticias"
    />
    <div class="flex flex-wrap gap-[10px]">
        <Card
            img="/noticias.avif"
            mes="Title :"
            subTitle="Description Noticia"
         />
        <Card
            img="/noticias.avif"
            mes="Title :"
            subTitle="Description Noticia"
         />
        <Card
            img="/noticias.avif"
            mes="Title :"
            subTitle="Description Noticia"
         />
         <Card
            img="/noticias.avif"
            mes="Title :"
            subTitle="Description Noticia"
         />
         <Card
            img="/noticias.avif"
             mes="Title :"
             subTitle="Description Noticia"
          />
         <Card
            img="/noticias.avif"
             mes="Title :"
             subTitle="Description Noticia"
          />
    </div>

</section>