---

import Title from "../Title.astro";
import Input from "./Input.astro";
---
<section class="overflow-hidden block relative z-10 w-[500px] mx-auto">
    <ul id="slider"class="w-[200%] flex h-full">
        <form 
            id="form1"
            class="w-full bg-white/5 p-[24px] rounded-[10px] border-[1px] border-white/20"
            action="/Autentificacion">
            <Title 
               title="Regístrate"
            />
            <Input
                type="text"
                title="Nombre de usuario :"
             />
            <Input
                type="email"
                title="Correo electrónico :"
             />
             <div class="flex gap-[10px] max-sm:flex-col max-sm:gap-[0px]">
                 <Input
                    type="password"
                     title="Contraseña :"
                  />
                 <Input
                    type="password"
                     title="Repetir contraseña :"
                  />
             </div>
             <p id="login" class="cursor-pointer underline text-blue-100 block mb-[20px]">Ya tienes una cuenta? Inicia sesión</p>
             <input 
                class="bg-[var(--blue)] p-[13px] w-[100%] text-black rounded-[6px] cursor-pointer hover:bg-blue-600 duration-300 font-semibold"
                type="submit"
                value="Registrarme">
        </form>

        <form 
            id="form2"
            class="w-full flex flex-col justify-end bg-white/5 p-[24px] h-[400px] rounded-[10px] border-[1px] border-white/20"
            action="/Autentificacion">
            <Title 
               title="Inicia sesión"
            />
            <Input
                type="text"
                title="Nombre de usuario :"
             />
             <Input
                type="password"
                 title="Contraseña :"
              />
             <p id="register" class="cursor-pointer underline text-blue-100 block mb-[20px]">No tienes una cuenta? Regístrate</p>
             <input 
                id="acciones"
                class="bg-[var(--blue)] p-[13px] w-full text-black rounded-[6px] cursor-pointer hover:bg-blue-600 duration-300 font-semibold"
                type="submit"
                value="Iniciar sesión">
        </form>

    </ul>
</section>

   <!-- MODAL -->
   <section class="modal w-full flex gap-[10px] fixed left-0 bg-white/5 rounded-[20px] border-[1px] border-white/30 backdrop-blur-[16px] p-[24px] pt-[100px] justify-center">
    <div class="w-[600px] mx-auto flex flex-col gap-[10px]">
        <!-- OPCIONES MODAL -->
         <h4 class="text-[1.5rem]">Selcciona :</h4>
         <a 
            class="p-[20px] bg-white/5 border-[1px] border-white/30 rounded-[6px] flex items-center gap-[10px]"
            href="">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-user"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" /></svg>
            Usuarios
        </a>
         <a 
            class="p-[20px] bg-white/5 border-[1px] border-white/30 rounded-[6px] flex items-center gap-[10px]"
            href="">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-report"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h5.697" /><path d="M18 14v4h4" /><path d="M18 11v-4a2 2 0 0 0 -2 -2h-2" /><path d="M8 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" /><path d="M18 18m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" /><path d="M8 11h4" /><path d="M8 15h3" /></svg>
            Reportes
        </a>
         <a 
            class="p-[20px] bg-white/5 border-[1px] border-white/30 rounded-[6px] flex items-center gap-[10px]"
            href="">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-user-check"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4" /><path d="M15 19l2 2l4 -4" /></svg>
            Administrador
        </a>
        <article class="iconX absolute top-0 right-0 cursor-pointer w-[80px] h-[80px] flex flex-col justify-center items-center rounded-[15px]  gap-[5px] max-sm:w-[80px] max-sm:h-[80px] p-[10px]">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
        </article>

         

    </div>
    
</section>

<style>
    #form2{
        opacity: 0;
        transition: all .6s ease-in-out;
        transform: scale(.8) translateX(50px) rotate(10deg);
    }
    #form2.formActive{
        opacity: 1;
        transform: scale(1) translateX(0px) rotate(0deg);
    }
    #form1{
        transition: all .6s ease-in-out;
        opacity: 1;
        transform: scale(1) translateX(0px) rotate(0deg);
        
    }
    #form1.formActiveOpacity{
        opacity: 0;
        transform: scale(.8) translateX(-50px) rotate(-10deg);
    }
    #slider{
        transition: all .6s ease-in-out;
    }
    .sliderActive{
        transform: translateX(-50%);
    }
.modal{
    transition: all .3s;
    bottom: -50%;
    height: 50%;
    z-index: 100;
}
.modalActive{
    bottom: 0%
}

</style>



<script>
    const acciones = document.querySelector("#acciones").addEventListener("click", modalFuntion);
    const iconX = document.querySelector(".iconX").addEventListener("click", modalFuntion);
    const modal = document.querySelector(".modal");

    function modalFuntion () {
        modal.classList.toggle("modalActive")
    }
</script>

<script>
    const login = document.querySelector("#login");
    const register = document.querySelector("#register");
    const form1 = document.querySelector("#form1");
    const form2 = document.querySelector("#form2");
    const slider = document.querySelector("#slider");

    login.addEventListener("click", () => {
        slider.classList.add("sliderActive");
        form2.classList.add("formActive");
        form1.classList.add("formActiveOpacity");
    })
    register.addEventListener("click", () => {
        slider.classList.remove("sliderActive");
        form2.classList.remove("formActive");
        form1.classList.remove("formActiveOpacity");
    })

</script>