---
const { title, style, type, name } = Astro.props;
---

<script src="./Input.js"></script>

<label class="relative block mb-[20px]">
    <p class="opacity-100">{title}</p>
    <input 
        class=`
            ${style}
            py-[10px] px-[15px] outline-none rounded-[6px] border-[1px] border-white/20 bg-white/5 w-full block duration-300 transition-all `
        type={type}
        required
        name={name}
        minlength="3"
        maxlength="60">

    <span class="iconCheck absolute top-[67%] translate-y-[-50%] right-[15px] text-green-500">
        <svg   width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-check"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>
    </span>

    <span class="iconInvalid absolute top-[67%] translate-y-[-50%] right-[15px] text-red-500">
       <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
    </span>
</label>

<style>
    /* FOCUS */
    input:focus{
        background-color: rgba(81, 232, 255, 0.08);
        border: 1px solid rgba(0, 174, 255, 0.416);
    }
    /* INVALID */
    .iconInvalid{
        transform: translateY(-50%) scale(0);
    }
    .iconInvalidActive{
        transform: translateY(-50%) scale(1);
    }
    input.InputInvalid{
        background-color: rgba(255, 0, 0, 0.108);
        border: 1px solid rgba(255, 0, 0, 0.323);
    }
    /* VALID */
    input:valid{
        background-color: rgba(81, 255, 81, 0.159);
        border: 1px solid rgba(107, 255, 107, 0.357);
    }
    .iconCheck{
        transform: translateY(-50%)scale(0);
        transition: all .2s;
    }
    input:valid ~ .iconCheck {
        transform: translateY(-50%)scale(1);
    }
    input:valid ~ .iconInvalid {
        transform: translateY(-50%)scale(0);
    }
</style>
