---
import Title from "../../Title.astro"
---

<section class="relative z-10 mt-[120px]">
    <Title 
        title="explora"
        subTitle="Post"
    />
    <div class="flex items-center gap-[10px]">
        <a 
            class="active py-[10px] px-[16px] opacity-100 font-bold text-black bg-blue-500 rounded-[6px]"
            href="/HomeUsers/Explorar">
            Post
        </a>
        <a 
            class="py-[10px] px-[16px] opacity-100 font-bold text-black bg-blue-500 rounded-[6px]"
            href="/HomeUsers/explorar/Search">
            Explorar
        </a>
        <a 
            class="py-[10px] px-[16px] opacity-100 font-bold text-black bg-blue-500 rounded-[6px]"
            href="/HomeUsers/explorar/Calendario">
            Calendario
        </a>

    </div>

</section>

<style>
    .active{
        background-color: transparent;
        color: var(--blue);
        border: 1px solid var(--blue);
    }
</style>