---
---

<article class="p-[24px] flex gap-[20px] bg-white/10 border-[1px] border-white/30 rounded-[10px]">
    <picture class="w-[60px] h-[60px] rounded-full overflow-hidden">
        <img 
            class="w-full h-full object-cover"
            src="/avatar.jpeg" 
            alt="avatar">
    </picture>
    <div class="flex flex-col">
        <h4 class="mb-0">
            Username
        </h4>
        <p class="active flex items-center gap-[5px]">
            <span class="w-[10px] h-[10px] rounded-full bg-[currentColor] block"></span>
            Activo
        </p>
    </div>

</article>

<style>
    .active{
        color: rgba(107, 246, 107, 0.861);
    }
    .NoActive{
        color: rgb(220, 110, 110);
    }
</style>