---
---

 <!-- FOOTER -->
 <div class="flex items-center gap-[10px] absolute w-full bottom-0 p-[10px] bg-white/5 border-t-[1px] border-white/30 backdrop-blur-[10px] cursor-pointer">
    <div class="relative w-[50px] h-[50px] flex justify-center items-center bg-white/0 border-[1px] border-white/30 rounded-[6px]">
        <input
            class="absolute top-0 left-0 w-full h-full opacity-0" 
            type="file">
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-file"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 3v4a1 1 0 0 0 1 1h4" /><path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" /></svg>
    </div>
    <div class="w-[80%]">
        <input 
            class="p-[10px] bg-white/5 border-[1px] border-white/30 w-full rounded-[6px] outline-none"
            type="text"
            placeholder="Escribe algo">
    </div>
    <div class="w-[50px] h-[50px] flex justify-center items-center  bg-blue-500 rounded-[6px] cursor-pointer">
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="black"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-send-2"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4.698 4.034l16.302 7.966l-16.302 7.966a.503 .503 0 0 1 -.546 -.124a.555 .555 0 0 1 -.12 -.568l2.468 -7.274l-2.468 -7.274a.555 .555 0 0 1 .12 -.568a.503 .503 0 0 1 .546 -.124z" /><path d="M6.5 12h14.5" /></svg>
    </div>
</div>