---
import Card from "./Card.astro";
import Title from "../Title.astro";
---

<section class="mt-[120px] relative z-10">
    <Title 
        title="Calendario"
    />
    <div class="flex flex-wrap gap-[10px]">
        <Card
            img="/calendario-1.avif"
            mes="Enero :"
            subTitle="Mr Tartaria y Mr Empirico"
         />
        <Card
            img="/calendario-2.avif"
            mes="Febrero :"
            subTitle="Mewing"
         />
        <Card
            img="/calendario-1.avif"
            mes="Enero :"
            subTitle="Mr Tartaria y Mr Empirico"
         />
        <Card
            img="/calendario-1.avif"
            mes="Enero :"
            subTitle="Mr Tartaria y Mr Empirico"
         />
    </div>

</section>