---
import Card from "./Card.astro";
import Title from "../Title.astro";
---

<section class="mt-[120px] relative z-10">
    <Title 
        title="Calendario"
    />
    <div class="flex flex-wrap gap-[10px]">
        <Card
            img="/calendario-1.avif"
            mes="Enero :"
            subTitle="Mr Tartaria y Mr Empirico"
         />
        <Card
            img="/calendario-2.avif"
            mes="Febrero :"
            subTitle="Mewing"
         />
        <Card
        style="width_100"
            img="/warning.avif"
            mes="Marzo :"
            subTitle="Meme no disponible"
         />
         <Card
         img="/calendario-4.avif"
         mes="Abril :"
         subTitle="Pedro Pedro Pedro"
         />
         <Card
         style="width_100"
             img="/warning.avif"
             mes="Mayo :"
             subTitle="Meme no disponible"
          />
         <Card
         style="width_100"
             img="/warning.avif"
             mes="Junio :"
             subTitle="Meme no disponible"
          />
         <Card
         style="width_100"
             img="/warning.avif"
             mes="Junio :"
             subTitle="Meme no disponible"
          />
         <Card
         style="width_100"
             img="/warning.avif"
             mes="Julio :"
             subTitle="Meme no disponible"
          />
         <Card
         style="width_100"
             img="/warning.avif"
             mes="Agosto :"
             subTitle="Meme no disponible"
          />
         <Card
         style="width_100"
             img="/warning.avif"
             mes="Septiembre :"
             subTitle="Meme no disponible"
          />
         <Card
         style="width_100"
             img="/warning.avif"
             mes="Octubre :"
             subTitle="Meme no disponible"
          />
         <Card
         style="width_100"
             img="/warning.avif"
             mes="Noviembre :"
             subTitle="Meme no disponible"
          />
         <Card
         style="width_100"
             img="/warning.avif"
             mes="Diciembre :"
             subTitle="Meme no disponible"
          />
    </div>

</section>