--- 
const { title, subtitle, style } = Astro.props;

---

<article class=`${style} bg-white/10 backdrop-blur-[16px] p-[24px] rounded-[10px] border-[1px] border-white/30`>
    <span class=" rounded-full mb-[30px] justify-center items-center">
        <slot />
    </span>
    <div class="w-[80%]">
        <h4>{title}</h4>
        <p>{subtitle}</p>
    </div>
</article>

<style>
    article{
        width: calc(33% - 10px);
    }
    .layout{
        width: 100%;
        align-items: center;
    }
    span{
        display: inline-flex;
        width: 60px;
        height: 60px;
        background-image: linear-gradient(135deg, rgb(0, 255, 170) 0%, rgb(0, 187, 255) 53.09%, rgb(69, 121, 245) 100%);
        margin-bottom: 20px;
    }
    article:nth-child(2) span{
        background-image: linear-gradient(135deg, rgb(255, 94, 0) 0%, rgb(245, 69, 98) 54.11%, rgb(195, 45, 225) 100%);
    }
    article:nth-child(3) span{
        background-image: linear-gradient(135deg, rgb(102, 255, 0) 0%, rgb(22, 184, 98) 51.88%, rgb(0, 133, 143) 100%);
    }
    article:nth-child(4) span{
        background-image: linear-gradient(135deg, rgb(253, 232, 48) 0%, rgb(254, 162, 23) 100%);
    }
    article:nth-child(5) span{
        background-image: linear-gradient(135deg, rgb(255, 0, 170), rgb(156, 66, 245) 50%, rgb(93, 45, 225));
    }
    article:nth-child(6) span{
        background-image: linear-gradient(135deg, rgb(61, 245, 179) 0%, rgb(40, 175, 233) 100%);
    }
    article:nth-child(7) span{
        background-image: linear-gradient(135deg, rgb(0, 187, 255), rgb(156, 66, 245) 53%, rgb(93, 45, 225));
    }
    @media screen and (max-width: 700px){
        article{
            width: 100%;
        }
    }
</style>