---
import Title from "../Title.astro";
import Card from "./Card.astro";
---

<section class="relative z-10 mt-[120px]">
    <Title 
        title="Panel de adminitración"
    />
    <div class="flex flex-wrap gap-[10px]">
        <Card />
        <Card />
        <Card />
        <Card />
        <Card />
        <Card />
        <Card />
        <Card />
    </div>
</section>