---
import HistoryCard from "./HistoryCard.astro"
---

<section class="mt-[120px] flex justify-start gap-[20px]">
    <HistoryCard 
        img="/plus.svg"
        style="scale"
        title="Mi historia"
    />
    <HistoryCard 
        img="/avatar.jpeg"
        title="Users 1"
    />
    <HistoryCard 
        img="/noticias.avif"
        title="Users 2"
    />
</section>