---
import EstadisticasCard from "./EstadisticasCard.astro";
import Title from "../Title.astro"
---

<section class="mt-[80px]">
    <Title 
        title="Estadisticas"
    />
    <div class="flex max-xl:flex-wrap">
        <EstadisticasCard
            title="1900"
            subTitle="Numero de usuarios"
         />
        <EstadisticasCard
            title="1200"
            subTitle="Kreators"
         />
        <EstadisticasCard
            title="300"
            subTitle="Numero de Verificados"
         />
        <EstadisticasCard
            title="Estado"
            subTitle="Funcionando"
         />

    </div>
</section>