---
const { title, subTitle, style } = Astro.props;
---

<p class=`${style} mb-[20px] flex items-center gap-[10px]`>
    <span class="w-[12px] h-[12px] block rounded-[50%] bg-Blue"></span>
    {title}
    <span class="italic opacity-100">
        {subTitle}
    </span>
</p>

<style>
    .margin{
        margin-bottom: 0px
    }
</style>