---
const {title} = Astro.props;
---

<a 
    class="flex items-center gap-[10px] hover:underline"
    href="/">
    {title}
    <svg class="w-[20px] block" fill="none" class="icon SharedFooter_arrowIcon___OxKm" viewBox="0 0 16 16"><path fill="currentColor" d="M12.256 3.748a.73.73 0 0 0-.534-.21H5.824c-.23.004-.4.076-.525.201-.288.288-.292.696-.018.97a.699.699 0 0 0 .502.206l2.034.014 2.49-.112-1.103.978-5.44 5.44c-.301.3-.301.714-.005 1.01.292.292.705.292 1.006-.009l5.44-5.44.978-1.104-.112 2.491.013 2.033a.7.7 0 0 0 .207.503c.274.274.682.27.97-.018a.715.715 0 0 0 .201-.507V4.278a.728.728 0 0 0-.206-.53Z"></path></svg>
</a>