---
import Input from "../../autentificacion/Input.astro";
const {title, id} = Astro.props;
---

    <!-- ICON TOP -->
    <article id={id} class="cursor-pointer w-[100px] h-[100px] relative bg-white/5 flex flex-col justify-center items-center rounded-[20px] border-[1px] border-white/30 gap-[10px] max-sm:w-[80px] max-sm:h-[80px] p-[10px]">
        <slot />
        <p>{title}</p>
    </article>


    <!-- MODAL -->
    <section class="modal w-full flex gap-[10px] fixed left-0 bg-white/5 rounded-[20px] border-[1px] border-white/30 backdrop-blur-[16px] p-[24px] pt-[100px] justify-center">
        <div class="w-[600px] mx-auto flex flex-col">
            <!-- ICON MODAL -->
             <h4 class="text-[1.5rem] mb-[20px]">
                Enviar dinero a:
             </h4>
             <Input 
                title="Number bank"
                type="number"
             />
             <Input 
                title="Cantidad"
                type="number"
             />
             <Input 
                title="Concepto"
                type="text"
             />
             <input 
                class="w-full bg-blue-600 rounded-[6px] font-bold text-white block p-[13px] cursor-pointer"
                type="submit"
                value="Enviar">
            <article class="iconX absolute top-0 right-0 cursor-pointer w-[80px] h-[80px] flex flex-col justify-center items-center rounded-[15px]  gap-[5px] max-sm:w-[80px] max-sm:h-[80px] p-[10px]">
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
            </article>

        </div>
        
    </section>





<style>
    .modal{
        transition: all .3s;
        bottom: -70%;
        height: 70%;
        z-index: 10;
    }
    .modalActive{
        bottom: 0%
    }
    .modal:nth-child(2) section,
    .modal:nth-child(3) section,
    .modal:nth-child(4) section{
        background-color: yellow;
        display: none;
    }
    article{
        transition: all .3s;
    }
</style>

<script>
    const iconEnviar = document.querySelector("#iconEnviar").addEventListener("click", modalFuntion);
    const iconX = document.querySelector(".iconX").addEventListener("click", modalFuntion);
    const modal = document.querySelector(".modal");

    function modalFuntion () {
        modal.classList.toggle("modalActive")
    }
</script>