---
const {title} = Astro.props;
---

<div class="modal relative">
    <label
        class="w-full h-full absolute top-0 left-0 z-10 " 
        for="modal">
    </label>
    <input
        class="modal__label" 
        type="checkbox" id="modal">
    <!-- MODAL -->
    <section class="w-[455px] flex gap-[10px] absolute top-[110%] left-0 bg-white/5 rounded-[20px] border-[1px] border-white/30 backdrop-blur-[16px] p-[24px]">
        <!-- ICON MODAL -->
        <article class="cursor-pointer w-[80px] h-[80px] relative bg-white/5 flex flex-col justify-center items-center rounded-[15px] border-[1px] border-white/30 gap-[5px] max-sm:w-[80px] max-sm:h-[80px] p-[10px]">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-send"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 14l11 -11" /><path d="M21 3l-6.5 18a.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a.55 .55 0 0 1 0 -1l18 -6.5" /></svg>
            <p>Enviar</p>
        </article>
        <article class="cursor-pointer w-[80px] h-[80px] relative bg-white/5 flex flex-col justify-center items-center rounded-[15px] border-[1px] border-white/30 gap-[5px] max-sm:w-[80px] max-sm:h-[80px] p-[10px]">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
            <p>X</p>
        </article>
        
    </section>
    <!-- ICON TOP -->
    <article class="cursor-pointer w-[100px] h-[100px] relative bg-white/5 flex flex-col justify-center items-center rounded-[20px] border-[1px] border-white/30 gap-[10px] max-sm:w-[80px] max-sm:h-[80px] p-[10px]">
        <slot />
        <p>{title}</p>
    </article>
</div>





<style>
    input{
        display: none;
    }
    section{
        transform: scaleY(0);
        transform-origin: top;
        transition: all .3s;
        z-index: 10;
    }
    .modal__label:checked + section{
        transform: scaleY(1);
    }
    .modal:nth-child(2) section,
    .modal:nth-child(3) section,
    .modal:nth-child(4) section{
        background-color: yellow;
        display: none;
    }
    article{
        transition: all .3s;
    }
</style>