---
import FooterBtn from "./header/FooterBtn.astro"
---

<footer class="mt-[120px] py-[120px] border-t-[1px] border-white/50">
    <div class="flex gap-[20px] max-sm:flex-wrap">
        <ul class="w-[25%] max-sm:w-[45%]">
            <h4>
                Komunly
            </h4>
            <p>¡Bienvenido a Komunly, ponte cómodo y disfruta del espectáculo!</p>
        </ul>
        <ul class="w-[25%] max-sm:w-[45%]">
            <h4>
                Comunidad
            </h4>
            <FooterBtn 
                title="K Komunly"
            />
            <FooterBtn 
                title="Instagram"
            />
            <FooterBtn 
                title="WhatsApp"
            />
            <FooterBtn 
                title="Email"
            />
            <FooterBtn 
                title="Discord"
            />
        </ul>
        <ul class="w-[25%] max-sm:w-[45%]">
            <h4>
                Enlaces útiles
            </h4>
            <FooterBtn 
                title="Términos y condiciones"
            />
            <FooterBtn 
                title="Comprar códigos"
            />
            <FooterBtn 
                title="Torneos"
            />
            <FooterBtn 
                title="Trabaja con nosotros"
            />
        </ul>
        <ul class="w-[25%] max-sm:w-[45%]">
            <h4>
                Proyectos
            </h4>
            <FooterBtn 
                title="Komunly"
            />
            <FooterBtn 
                title="Kanticum"
            />
            <FooterBtn 
                title="Información"
            />
            <FooterBtn 
                title="Klickum"
            />
        </ul>
    </div>
    <p class="mt-[80px]">Todos los derechos reservados a Kaoticode 2024</p>
</footer>