---
---

<a 
    class="w-full p-[20px] border-[1px] border-white/30 bg-white/5 flex gap-[20px] items-center rounded-[30px]"
    href="/HomeUsers/chat/ChatUsers">
    <picture class="w-[60px] h-[60px] flex justify-center items-center relative rounded-full overflow-hidden">
        <img 
            class="w-full h-full object-cover object-center"
            src="/avatar.jpeg" 
            alt="avatar">
    </picture>
    <div class="flex flex-col">
        <h4 class="mb-0">UserName</h4>
        <p>Mensaje del USers</p>
    </div>
</a>