---
import Title from "../../Title.astro";
import Card from "./Card.astro";
---

<section class="relative z-10 mt-[120px]">
    <Title 
        title="Chat de"
        subTitle="Mensajes"
    />
    <div class="flex flex-col gap-[10px]">
        <Card />
    </div>
</section>